body {
  --ancho-card: 200px;
  background-color: #100e17;
  font-family: 'Verdana', 'Arial';
  margin: 0 auto;
  text-align: center;
}

header {
  text-align: center;
  font-size: 4em;
  background: #F93;
  padding: 10px 0;
}

main {
  margin: 30px 0 10px 0;
  overflow: hidden;
  display: grid;
    grid-gap: 1em;
    grid-template-columns: auto 20%;
    grid-template-areas:
      "header otracosa"
      "content sidebar"
      "footer footer"
}

#users {
  grid-area: sidebar;
  color:#FFF;
  text-align: left;
}

.layer-app {
  grid-area: content;
  transform: translate(120%);
}

.layer-login {
  grid-area: header;
}

footer {
  grid-area: footer;
  height: 50px;
  color: #FFF;
  margin: 30px 0 0 0;
}

.login-button,
.reset-button {
  background-image: linear-gradient(90deg, #ff2882, #37003c);
  background-image: linear-gradient(0deg, #ff2882, #ff2882);
  border: 0;
  font-size: 2em;
  color: #fff;
  padding: 0 3.6rem;
  line-height: 3rem;
  border-radius: 2px;
  transition: background-image 0.4s;
}

.login-button:active,
.reset-button:active {
  background-image: linear-gradient(270deg, #ff2882, #963cff);
}

.votantes {
  color:#FFF;
  font-size:2em;
}

.user {
  color:#F93;
  font-size:1.5em;
}

.DropZoneGroup, .SourceZoneGroup {
  width: 100%;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(5, var(--ancho-card));
}

.dropzone, .sourcezone {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 0px;
  display:block;
  width:var(--ancho-card); 
  height:var(--ancho-card);
  margin-bottom:10px;
}

.sourcezone div {
  font-weight:bold;
}

.dropzone:nth-child(even), .sourcezone:nth-child(even) {
  background-color: #ccc;
  color: #000;
}

.dropzone > img, .sourcezone > img {
  width:var(--ancho-card); 
  height:var(--ancho-card); 
  z-index:1;
}

.selected { 
  border: 5px inset red;
}

#target1 { background-image: url(images/bkgnums/1.png); }
#target2 { background-image: url(images/bkgnums/2.png); }
#target3 { background-image: url(images/bkgnums/3.png); }
#target4 { background-image: url(images/bkgnums/4.png); }
#target5 { background-image: url(images/bkgnums/5.png); }
#target6 { background-image: url(images/bkgnums/6.png); }
#target7 { background-image: url(images/bkgnums/7.png); }
#target8 { background-image: url(images/bkgnums/8.png); }
#target9 { background-image: url(images/bkgnums/9.png); }
#target10 { background-image: url(images/bkgnums/10.png); }

.vermas {
  background-color: #FF0;
  float: right;
  position: relative;
  top: calc(-1 * var(--ancho-card) - 1.5em);
  right: -1.5em;
  border: 1px solid red;
  color: #000;
  padding: 5px;
  width: 2em;
  height: 2em;
}

.vermas img {
  border:0;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.invisible { display:none; }

.gigante {
  /*transition: all .5s ease-in-out;
  transform: scale(2.5) translate(0, 2em);*/

  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(2.5) translate(-30%, -30%);
}