body {
  --ancho-card: 200px;
  background-color: #100e17;
  font-family: 'Verdana', 'Arial';
  margin: 0 auto;
  text-align: center;
  width: calc(var(--ancho-card) * 6);
}

header {
  width: calc(var(--ancho-card) * 5 + 60px);
  text-align: center;
  font-size: 4em;
  background: #F93;
  padding: 10px 0;
}

main {
  margin: 30px 0 10px 0;
}

.login-button {
  font-size:3em;
}
