body {
  background-color: #100e17;
  font-family: 'Open Sans', sans-serif;
  --ancho-card: 100px;
}

header {
  color:#FFFFFF;
}

.dropzone, .sourcezone {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 0px;
  display:block;
  width:var(--ancho-card); 
  height:var(--ancho-card);
}

.dropzone:nth-child(even), .sourcezone:nth-child(even) {
  background-color: #ccc;
  color: #000;
}

.DropZoneGroup, .SourceZoneGroup {
  margin: 10px; 
  width: var(--ancho-card);
}
.DropZoneGroup {
  float: left;
}

.SourceZoneGroup {
  float: right;
  position: relative;
  top: -90px;
}

.dropzone img, .sourcezone img {
  width:var(--ancho-card); 
  height:var(--ancho-card); 
  z-index:1;
}

.dropzone, .sourcezone { margin-bottom:20px; }

.selected { 
  border: 5px inset red;
}